@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    /* background-color: red; */
}

.demo-loadmore-list {
    min-height: 350px;
}

/* Centrar el título en el encabezado del modal */
.custom-modal .ant-modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Centrar el texto en el cuerpo del modal */
.custom-modal .ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

/* Centrar los botones en el pie del modal */
.custom-modal .ant-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.custom-modal .ant-modal-body {
    height: auto; /* Limita la altura del contenido */
    overflow-y: auto; /* Agrega desplazamiento si el contenido es grande */
}

/* MODAL FORM */

.custom-modal-form .ant-modal-body {
    height: 500px; /* Limita la altura del contenido */
    overflow-y: auto; /* Agrega desplazamiento si el contenido es grande */
}
.ant-modal-content {
  width: 600px;
}

.ant-form-item-control-input {
    width: 100%;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(44, 50, 53, 0.2);
    
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 143, 143);
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

.ant-form-item-explain {
    max-width: 100%;
    white-space: normal;
}

@media print {

  * {
    margin: 0;
    padding: 0;
  }
  body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
  }
  
  #printOne {
    width: 100%; /* Asegura que ocupe todo el ancho de la página */
    height: auto; /* Ajusta la altura del contenido */
  }

  #printSecond {
    width: 100%; /* Asegura que ocupe todo el ancho de la página */
    height: auto; /* Ajusta la altura del contenido */
  }

  .buttonIgnore {
    display: none;
  }
  
  img {
    visibility: visible !important; 
  }
  
}

@page {
  size: A4;
  margin: 10mm;
}
